{
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:flowtype/recommended"
	],
	"rules": {
		// Possible errors
		"no-unsafe-negation": 2,
		"no-extra-semi": 0,
		// Best Practises
		"array-callback-return": 2,
		"block-scoped-var": 2,
		"class-methods-use-this": 2,
		"curly": 2,
		"dot-notation": 2,
		"eqeqeq": 2,
		"no-global-assign": 2,
		"no-loop-func": 2,
		"no-unmodified-loop-condition": 2,
		// Variable-regarding rules
		"no-unused-vars": [2, {"vars": "all", "args": "none"}],
		"no-use-before-define": [2, "nofunc"],

		"semi": [2, "never"]
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2017,
		"ecmaFeatures": {
			"jsx": true,
			"experimentalObjectRestSpread": true
		}
	},
	"plugins": [
		"react",
		"babel",
		"flowtype"
	]
}