@import '../../style/colors.styl'

.Home
	max-width 500px
	margin 0 auto

	.game-call-to-action
		text-align right
		padding 20px 30px
		
		.btn-primary
			background-color lightness($darker, 30%)
			border-color lightness($darker, 30%)
			&:hover,
			&:active,
			&:focus
				background-color $darker
				border-color $darker