@import '../../style/colors.styl'
@import '../../style/transition.styl'
@import '../../style/animation.styl'
@import '../../style/box-shadow.styl'

@keyframes activeAnimation {
	0% { transform: scale(1) }
	25% { transform: scale(1.05) }
	50% { transform: scale(1.10) }
	75% { transform: scale(1.05) }
	100% { transform: scale(1) }
}
@-webkit-keyframes activeAnimation {
	0% { transform: scale(1) }
	25% { transform: scale(1.05) }
	50% { transform: scale(1.10) }
	75% { transform: scale(1.05) }
	100% { transform: scale(1) }
}

.Score
	width 100%
	display flex
	align-items center
	color $darker
	overflow hidden

	>div
		flex-basis 50%
		transition(all .25s ease-in-out)
		&.active
			animation(activeAnimation .30s)

		strong
			display inline-block
			font-size 12px
			text-transform uppercase

	.scoreboard
		display inline-block
		line-height 1
		padding 4px 35.4px
		font-weight bold

	.player-left
		text-align right
		background-color lightness($blue-0, 65%)

		&.active
			box-shadow(inset 0px -2px 0px 0px lightness($blue-0, 45%))

		.scoreboard
			background-color $blue-0
			margin-left 10px

	.player-right
		text-align left
		background-color lightness($green-0, 65%)

		&.active
			box-shadow(inset 0px -2px 0px 0px lightness($green-0, 45%))

		.scoreboard
			background-color $green-0
			margin-right 10px
