@import './../../style/colors'

.Status
	background-color darken($lighter, 2%)
	color $darker
	text-align center
	font-size 14px

	&.game-over
		font-weight bold
		font-size 30px

		&.x-wins
			background-color lightness($blue-0, 65%)
			
		&.o-wins
			background-color lightness($green-0, 65%)